table {
    width: 50%;
    border-collapse: separate;
    margin: 20px auto;
    border: 1px double black;
    border-spacing: 3px;
}

th,
td {
    border: 1px double black;
    padding: 8px;
    text-align: left;
    text-align: center;
}

th {
    font-weight: 800;
}

div {
    text-align: center;
    margin: 20px 0;
}