.albums-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-bottom: 20px;
}

.no-results {
  font-weight: bold;
  color: #777;
  margin: 20px;
}

.album {
  text-align: center;
  width: 150px;
}

.album img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
