<header>
  <nav class="container">
    <div class="title">
      <a routerLink="/directory" routerLinkActive="active">CVS Directory</a>
    </div>
    
    <div class="links">
      <a routerLink="/directory" routerLinkActive="active" class="click" style="margin-right: 10px;">Directory</a>
      <a routerLink="/contactus" routerLinkActive="active" class="click" style="margin-right: 10px;">Contact Us</a>
      <a routerLink="/about" routerLinkActive="active" class="click" style="margin-right: 50px;">About</a>
    </div>
  </nav>
</header>
  