<!-- <nav style="font-family: Arial; background-color: #eb0000; color: white; padding: 15px;">
  
  <div class="links" style="display: flex; justify-content: space-between; align-items: center;">
    <div style="font-size: 30px; margin-left: 40px; font-weight: bold;">
      CVS Directory
    </div>

    <div class="links-option">
        <a routerLink="/directory" class="click" style="color: white; margin-right: 50px;">Directory</a>
        <a routerLink="/contact-us" class="click" style="color: white; margin-right: 50px;">Contact Us</a>
        <a routerLink="/about" class="click" style="color: white; margin-right: 70px;">About</a>
      
    </div>
    
  </div>
</nav> -->


<header>
  <nav class="nav-container">
    <div class="title">CVS Directory</div>
    <div class="links">
      <a routerLink="/directory" routerLinkActive="active">DIRECTORY</a>
      <a routerLink="/contactus" routerLinkActive="active">CONTACT US</a>
      <a routerLink="/about" routerLinkActive="active">ABOUT</a>
    </div>
  </nav>
</header>
  